<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="kangaroo"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="ankle_ft_left" default="no-ft-sensor"/>
    <xacro:arg name="ankle_ft_right" default="no-ft-sensor"/>
    <xacro:arg name="arm_type" default="4dof"/>
    <xacro:arg name="end_effector_left" default="no-end-effector"/>
    <xacro:arg name="end_effector_right" default="no-end-effector"/>
    <xacro:arg name="feet_type" default="fixed"/>
    <xacro:arg name="ft_sensor_left" default="no-ft-sensor"/>
    <xacro:arg name="ft_sensor_right" default="no-ft-sensor"/>
    <xacro:arg name="has_pelvis" default="True"/>
    <xacro:arg name="sim_type" default="no-simulation"/>

    <xacro:property name="ankle_ft_left" value="$(arg ankle_ft_left)"/>
    <xacro:property name="ankle_ft_right" value="$(arg ankle_ft_right)"/>
    <xacro:property name="arm_type" value="$(arg arm_type)"/>
    <xacro:property name="has_pelvis" value="$(arg has_pelvis)"/>
    <xacro:property name="end_effector_left" value="$(arg end_effector_left)"/>
    <xacro:property name="end_effector_right" value="$(arg end_effector_right)"/>
    <xacro:property name="feet_type" value="$(arg feet_type)"/>
    <!-- Check if the ft_sensor is present -->
    <xacro:property name="ft_sensor_left" value="$(arg ft_sensor_left)"/>
    <xacro:property name="has_ft_sensor_left" value="${ft_sensor_left != 'no-ft-sensor'}"/>
    <xacro:property name="ft_sensor_right" value="$(arg ft_sensor_right)"/>
    <xacro:property name="has_ft_sensor_right" value="${ft_sensor_right != 'no-ft-sensor'}"/>
    <xacro:property name="has_arm" value="${arm_type != 'no-arm'}"/>
    <xacro:property name="sim_type" value="$(arg sim_type)"/>

    <!-- https://answers.ros.org/question/276062/adding-objects-in-moveit-fixed-in-the-world-while-the-mobile-manipulator-is-moving-confusion-with-root_joint-planning_frame-and-srdf-structure/ -->
    <xacro:property name="robot" value="kangaroo"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    
    <!-- PELVIS GROUP -->
    <xacro:if value="${has_pelvis}">
        <group name="pelvis">
            <joint name="pelvis_1_joint" />
            <joint name="pelvis_2_joint" />
        </group>
    </xacro:if>
    
    <!-- ARMS and ARM-PELVIS GROUPS -->
    <xacro:macro name="arm_groups" params="side">
        <group name="arm_${side}">
            <joint name="arm_${side}_1_joint" />
            <joint name="arm_${side}_2_joint" />
            <joint name="arm_${side}_3_joint" />
            <joint name="arm_${side}_4_joint" />
            <xacro:if value="${arm_type in ['5dof', '7dof']}">
                <joint name="arm_${side}_5_joint" />
            </xacro:if>
            <xacro:if value="${arm_type in ['7dof']}">
                <joint name="arm_${side}_6_joint" />
                <joint name="arm_${side}_7_joint" />
            </xacro:if>
        </group>
        <xacro:if value="${has_pelvis}">
            <group name="arm_${side}_pelvis">
                <group name="arm_${side}" />
                <group name="pelvis" />
            </group>
        </xacro:if>
    </xacro:macro>

    <xacro:if value="${has_arm}">
        <xacro:arm_groups side="left"/>
        <xacro:arm_groups side="right"/>
        <group name="both_arms">
            <group name="arm_right" />
            <group name="arm_left" />
        </group>
        <xacro:if value="${has_pelvis}">
            <group name="both_arms_pelvis">
                <group name="both_arms" />
                <group name="pelvis" />
            </group>
        </xacro:if>
    </xacro:if>

    <!-- LEGS GROUPS -->
    <xacro:macro name="leg_groups" params="side">
        <group name="leg_${side}">
            <joint name="leg_${side}_1_joint" />
            <joint name="leg_${side}_2_joint" />
            <joint name="leg_${side}_3_joint" />
            <joint name="leg_${side}_length_joint" />
            <joint name="leg_${side}_4_joint" />
            <joint name="leg_${side}_5_joint" />
        </group>
        <!--PASSIVE JOINT: Purpose: this element is used to mark joints that are not actuated-->
        <passive_joint name="leg_${side}_femur_joint" />
        <passive_joint name="leg_${side}_knee_joint" />
    </xacro:macro>

    <xacro:leg_groups side="left"/>
    <xacro:leg_groups side="right"/>
    <group name="both_legs">
        <group name="leg_right" />
        <group name="leg_left" />
    </group>

    <group name="full">
        <group name="both_legs" />    
        <xacro:if value="${has_pelvis}">
            <group name="pelvis" />
        </xacro:if>
        <xacro:if value="${has_arm}">
            <group name="both_arms" />
        </xacro:if>
    </group>

    <!-- Check feet and and_ft_sensors-->
    <xacro:if value="${feet_type == 'detachable'}">
        <xacro:if value="${ankle_ft_left != 'no-ft-sensor'}">
            <xacro:property name="leg_config_left" value="_left_${ankle_ft_left}"/>
        </xacro:if>
        <xacro:unless value="${ankle_ft_left != 'no-ft-sensor'}">
            <xacro:property name="leg_config_left" value=""/>
        </xacro:unless>
        <xacro:if value="${ankle_ft_right != 'no-ft-sensor'}">
            <xacro:property name="leg_config_right" value="_right_${ankle_ft_right}"/>
        </xacro:if>
        <xacro:unless value="${ankle_ft_right != 'no-ft-sensor'}">
            <xacro:property name="leg_config_right" value=""/>
        </xacro:unless>
    </xacro:if>

    <!-- ARM END EFFECTOR GROUPS-->
    <xacro:macro name="end_effector_for_side" params="side end_effector_arg">
        <xacro:include filename="$(find pal_sea_arm_moveit_config)/config/srdf/end_effectors/${end_effector_arg}.srdf.xacro" />
        <xacro:define_end_effector arm="arm_${side}" name="${end_effector_name}_${side}"/>
    </xacro:macro>

    <xacro:property name="left_ee_valid"
        value="${(arm_type == '4dof' and end_effector_left == 'no-end-effector')
              or (arm_type == '5dof' and end_effector_left in ['no-end-effector', 'RH8D'])
              or (arm_type == '7dof' and end_effector_left in ['no-end-effector', 'gripper'])}"/>

    <xacro:property name="right_ee_valid"
        value="${(arm_type == '4dof' and end_effector_right == 'no-end-effector')
              or (arm_type == '5dof' and end_effector_right in ['no-end-effector', 'RH8D'])
              or (arm_type == '7dof' and end_effector_right in ['no-end-effector', 'gripper'])}"/>

    <xacro:if value="${has_arm}">
        <xacro:if value="${left_ee_valid}">
            <xacro:end_effector_for_side
                side="left"
                end_effector_arg="${end_effector_left}"/>

            <xacro:property name="ee_left_config" value="${'no-ee' if end_effector_left == 'no-end-effector' else end_effector_left}"/>
            <xacro:property
                name="config_left"
                value="${ee_left_config + ('_' + ft_sensor_left if has_ft_sensor_left else '')}"/>
        </xacro:if>
        <xacro:unless value="${left_ee_valid}">
            <xacro:property name="config_left" value="no-ee"/>
        </xacro:unless>

        <xacro:if value="${right_ee_valid}">
            <xacro:end_effector_for_side
                side="right"
                end_effector_arg="${end_effector_right}"/>

            <xacro:property name="ee_right_config" value="${'no-ee' if end_effector_right == 'no-end-effector' else end_effector_right}"/>
            <xacro:property
                name="config_right"
                value="${ee_right_config + ('_' + ft_sensor_right if has_ft_sensor_right else '')}"/>
        </xacro:if>
        <xacro:unless value="${right_ee_valid}">
            <xacro:property name="config_right" value="no-ee"/>
        </xacro:unless>

    </xacro:if>
    <xacro:if value="${has_arm}">
        <xacro:include filename="$(find kangaroo_moveit_config)/config/srdf/disable_collisions/${robot}_${arm_type}_${config_left}_${config_right}.srdf.xacro" />
    </xacro:if>
    <xacro:property name="base_arm_token" value="${arm_type if has_arm else 'no-arms'}"/>
    <xacro:include filename="$(find kangaroo_moveit_config)/config/srdf/disable_collisions/${robot}_${base_arm_token}_${'with-pelvis' if has_pelvis else 'no-pelvis'}_${feet_type}.srdf.xacro" />
</robot>
