<?xml version="1.0" ?>
<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kangaroo_moveit_config)/config/srdf/disable_collisions/kangaroo_4dof_with-pelvis_detachable.srdf.xacro" />
    <disable_collisions link1="ankle_left_ft_sensor_link" link2="arm_left_5_link" reason="Never"/>
    <disable_collisions link1="ankle_left_ft_sensor_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="ankle_right_ft_sensor_link" link2="arm_left_5_link" reason="Never"/>
    <disable_collisions link1="ankle_right_ft_sensor_link" link2="arm_right_4_link" reason="Never"/>
    <disable_collisions link1="ankle_right_ft_sensor_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="arm_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="arm_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_1_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="arm_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="arm_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="arm_left_5_link" reason="Adjacent"/>
    <disable_collisions link1="arm_left_4_link" link2="arm_left_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="arm_right_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="arm_right_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="left_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_left_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_left_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_femur_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="leg_right_knee_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_left_base_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_left_tool_link" reason="Adjacent"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_right_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_right_base_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="left_foot" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="left_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_ankle_attach" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_knee_lower_bearing" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_knee_straight" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_left_length_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_ankle_attach" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_knee_lower_bearing" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_knee_straight" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="leg_right_length_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="right_foot" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="right_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="torso_front_down_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="torso_front_up_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="torso_imu_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="torso_rear_down_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="torso_rear_up_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_left_base_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="arm_right_5_link" reason="Adjacent"/>
    <disable_collisions link1="arm_right_4_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="left_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_left_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_left_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_left_femur_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_left_knee_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_right_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="leg_right_ankle_attach" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="right_foot" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="right_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="arm_right_base_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="arm_right_tool_link" reason="Adjacent"/>
    <disable_collisions link1="arm_right_5_link" link2="left_foot" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="left_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_4_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_ankle_attach" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_knee_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_knee_lower_bearing" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_knee_straight" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_left_length_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_ankle_attach" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_knee_lower_bearing" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_knee_straight" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="leg_right_length_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="right_foot" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="right_foot_sole" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="torso_front_down_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="torso_front_up_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="torso_imu_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="torso_rear_down_rgbd_camera_bottom_screw_frame" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="torso_rear_up_rgbd_camera_bottom_screw_frame" reason="Never"/>
</robot>
