<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  
  <arg name="robot_type" default=""/>
  
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(eval arg('robot_type') == 'full_4dof')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=true arm_type:=4dof with_pelvis:=true use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>
  <group if="$(eval arg('robot_type') == 'full_7dof')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=true arm_type:=7dof with_pelvis:=true use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>

  <group if="$(eval arg('robot_type') == 'lowerbody')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=false with_pelvis:=false use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>

  <group if="$(eval arg('robot_type') == 'pelvis_no_arms')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=false with_pelvis:=true use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>

  <group if="$(eval arg('robot_type') == 'arms_4dof_no_pelvis')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=true arm_type:=4dof with_pelvis:=false use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>
  <group if="$(eval arg('robot_type') == 'arms_7dof_no_pelvis')">
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro enable_crane:=false fixed_base:=false simulation:=true ft_sensors:=false with_arms:=true arm_type:=7dof with_pelvis:=false use_mimic:=false '$(find kangaroo_description)/robots/kangaroo.urdf.xacro'"/>
  </group>
  
  <param name="$(arg robot_description)_semantic" textfile="$(find kangaroo_moveit_config)/config/kangaroo_$(arg robot_type).srdf" />
  
<!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find kangaroo_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find kangaroo_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
